<h2><%= @list.title %></h2>

<% unless locals.empty? %>
  <%= message %>
<% end %>
<br>
<button type="button" name="edit_content"><a href="/trips/<%= @list.trip_id %>/lists/<%= @list.id %>/edit">Edit List</a></button>

<p>
  <%= @list.content %>
</p>

<form action="/trips/<%= @list.trip_id %>/lists/<%= @list.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete List">
</form>

<button type="button" name="return_to_trips"><a href="/trips/<%= @list.trip_id %>">Return to Trip</a></button>
