<h2>Destination: <%= @destination.name %></h2>
<h3>Location: <%= @destination.location %></h3>

<button type="button" name="edit_destination"><a href="/destinations/<%= @destination.id %>/edit">Edit Destination</a></button>

<button type="button" name="create_list"><a href="/lists/new">Create a New List</a></button>

<ul>
  <% @destination.lists.each do |list| %>
    <li><a href="/lists/<%= list.id %>">list.title</a></li>
  <% end %>
</ul>

<form action="/destinations/<%= @destination.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Destination">
</form>
